
<div class="jumbotron" class="container">

<h3>These are the muscle groups you can workout today!</h1>
<label>Choose one</label>

<% @resulting_workouts.each do |workout| %>
<li><%=link_to @workout_names[workout], results_path(workout) %></li> 

<% end %>
</div>
