
<div class="container">

<h2>Time to put in the work!</h2>

<table style="width:100%">
  <tr>
    <th>Exercise</th>
    <th>Sets</th> 
    <th>Reps</th>
    <th>Weight</th>
    <th>Rest Time</th>
    <th>Notes</th>
  </tr>

  <% @exercises.each do |exercise| %>

  <tr>
    <th><%= exercise.name %></th>
    <td>3</td> 
    <td>8-15</td>
    <td></td>
    <td>90 sec</td>
    <td></td>
  </tr>
  <% end %>

</table>



</div>


